<div *ngIf="isLoaded">

  <div class="instagram-posts">
    <a [href]="post.permalink" *ngFor="let post of posts"
       rel="noopener noreferrer"
       target="_blank"
       class="instagram-post">

      <div *ngIf="isImage(post)" class="post-media media-type-image">
        <img alt="{{ post.caption }}"
             src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
             [attr.data-src]="post.media_url">
      </div>

      <div *ngIf="isCarousel(post)" class="post-media media-type-carousel">
        <div class="featured-image">
          <img alt="{{ post.caption }}"
               src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
               [attr.data-src]="post.children[0].media_url">
        </div>
        <div class="sidebar-images">
          <div *ngFor="let child of post.children | slice:1:4; index as i" class="sidebar-image">
            <img alt="{{ child.caption }}"
                 src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                 [attr.data-src]="child.media_url" class="image-{{ i }}">
            <div *ngIf="i == 2 && post.children.length > 4" class="view-all-text">
              +{{ post.children.length - 4 }} more
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="isVideo(post)" class="post-media media-type-video">
        <video
          [src]="post.media_url"
          [poster]="post.thumbnail_url"
          [autoplay]="true"
          [loop]="true"
          [muted]="true"></video>
      </div>

      <figure class="post-overlay">
        <figcaption class="post-caption">
          <svg width="100%" height="100%" viewBox="0 0 100 100">
            <switch>
              <foreignObject width="100%" height="100%">
                <xhtml:p [innerHtml]="post.caption"></xhtml:p>
              </foreignObject>
            </switch>
          </svg>
        </figcaption>
      </figure>

    </a>
  </div>

  <div class="button-container">
    <a class="button theme-instagram"
       href="https://www.instagram.com/bull.justin"
       rel="noopener noreferrer"
       target="_blank">
      <span>SEE MORE PHOTOS</span>
    </a>
  </div>

</div>

<div *ngIf="isError">
  <div class="error-container theme-white-text">
    <div [inlineSVG]="'/assets/icons/http-error.svg'" class="http-error-icon"></div>
    <h2>Oops! Something has gone wrong.</h2>
    <p>{{ errorObject.error.error.message }}</p>
  </div>
</div>

<div *ngIf="!isLoaded && !isError">
  <div class="loading-container">
    <div [inlineSVG]="'/assets/icons/loading.svg'" class="loading-icon theme-instagram"></div>
  </div>
</div>
