@import "functions"
@import "variables"
@import "mixins"

@keyframes fadeIn
  100%
    opacity 1

.instagram-posts
  display flex
  justify-content center
  flex-wrap wrap

.instagram-post
  position relative
  margin .5em
  opacity 0
  overflow hidden
  border-radius 5px
  animation fadeIn 250ms linear forwards

  &:nth-child(1)
    animation-delay calc(100ms * 1)

  &:nth-child(2)
    animation-delay calc(100ms * 2)

  &:nth-child(3)
    animation-delay calc(100ms * 3)

  &:nth-child(4)
    animation-delay calc(100ms * 4)

  &:nth-child(5)
    animation-delay calc(100ms * 5)

  &:nth-child(6)
    animation-delay calc(100ms * 6)

  &:nth-child(7)
    animation-delay calc(100ms * 7)

  &:nth-child(8)
    animation-delay calc(100ms * 8)

  +media-xs()
    flex 0 0 calc(100% / 1 - 1em)
  +media-md()
    flex 0 0 calc(100% / 2 - 1em)
  +media-lg()
    flex 0 0 calc(100% / 3 - 1em)
  +media-xl()
    flex 0 0 calc(100% / 4 - 1em)

  .post-link
    z-index 10
    position absolute
    top 0
    left 0
    width 100%
    height 100%
    display none
    +media-lg()
      display block

  &:hover .post-media
    img, video
      filter blur(10px)

  .post-media
    position relative
    display block
    width 100%
    aspect-ratio(1, 1)
    overflow hidden

  .media-type-video
    position relative
    display block
    width 100%
    height 100%

    video
      object-fit fill
      width auto
      height 100%
      position absolute
      top 0
      left 50%
      transform translateX(-50%)

  .media-type-carousel
    position relative
    height 100%

    .featured-image
      position relative
      width 60%
      height 100%
      border-radius 5px
      overflow hidden

    .sidebar-images
      width 40%
      height 100%
      position absolute
      top 0
      right 0
      bottom 0
      left auto
      display flex
      flex-direction column

    .sidebar-image
      position relative
      flex auto
      height (100% / 3)
      margin-left 5px
      border-radius 5px
      overflow hidden

      &:nth-child(1)
        border-bottom-left-radius 0

      &:nth-child(2)
        border-top-left-radius 0
        border-bottom-left-radius 0

      &:nth-child(3)
        border-top-left-radius 0

      &:not(:last-child)
        margin-bottom 5px

    .view-all-text
      width 100%
      height 100%
      position absolute
      top 0
      right 0
      bottom 0
      left 0
      display flex
      align-items center
      justify-content center
      background-color rgba(black, .75)
      color white
      font-size 1.25em

  &:hover .post-overlay
    opacity 1

  .post-overlay
    z-index 1
    position absolute
    top 0
    left 0
    width 100%
    height 100%
    margin 0
    padding 10%
    user-select none
    pointer-events none
    opacity 0
    overflow hidden
    background-color rgba(black, .8)

  &:hover .post-caption
    animation fadeIn 250ms linear forwards
    animation-delay 100ms

  .post-caption
    opacity 0
    font-size 1em
    text-align center
    color white

    svg
      width 100%
      height 100%

      foreignObject > p
        margin 0
        font-size 8px
        line-height 1.35
        overflow hidden
        display -webkit-box
        -webkit-box-orient vertical
        -webkit-line-clamp 6
