@import "~assets/styles/functions"
@import "~assets/styles/variables"
@import "~assets/styles/mixins"

@keyframes bounce
  from
    transform translateY(0)
  to
    transform translateY(-20px)

@keyframes spin
  100%
    transform rotate(360deg)

drop-shadow-filter = drop-shadow(1px 1px 0 rgba(black, .5))

header
footer
section
  display block
  position relative
  max-width 1920px
  margin auto
  +media-xs()
    padding 20px
  +media-md()
    padding 30px
  +media-lg()
    padding 50px

header
  color white

  +media-xs()
    display block
    text-align center
    min-height 100vh

  +media-lg()
    display flex
    flex-direction row
    align-items center
    text-align left
    justify-content center
    min-height 0
    padding-top 10%
    padding-bottom 10%

  h1
  p
    margin 0
    line-height 1
    text-shadow 1px 1px black

  h1
    margin-left -5px
    +media-xs()
      font-size 3em
      margin-bottom 10px
    +media-md()
      font-size 4em
      margin-bottom 15px
    +media-lg()
      font-size 5em
      margin-bottom 20px

  p
    +media-xs()
      font-size 1.25em
      margin-bottom 10px
    +media-md()
      font-size 1.75em
      margin-bottom 15px
    +media-lg()
      font-size 2em
      margin-bottom 20px

footer
  background-color white

.instagram-container
  border-top 1px solid #EEE
  background linear-gradient(#FFF,#EEE)

.youtube-container
  background linear-gradient(#444,#222)

.github-container
  background linear-gradient(
    rgba(255,255,255,.25),
    rgba(255,255,255,1)
  )

.section-heading
.section-body
  +media-xs()
    margin 20px 0 40px
  +media-md()
    margin 30px 0 60px
  +media-lg()
    margin 40px 0 80px

.section-heading
  h2
    line-height 1
    text-align center
    text-transform uppercase
    margin 0

    +media-xs()
      font-size 2.5em
    +media-md()
      font-size 3em
    +media-lg()
      font-size 3.5em

    .instagram-container &
    .github-container &
      color #666
      text-shadow 1px 1px white

    .youtube-container &
      color #eee
      text-shadow 1px 1px black
  
  h2 + p
    line-height 1
    text-align center
    color #888
    margin 0
    margin-top .5em

    +media-xs()
      font-size 1.25em
    +media-md()
      font-size 1.5em
    +media-lg()
      font-size 1.75em

.social-icons
  margin 30px 0

  .social-link
    display inline-block
    font-size 0
    color black
    &:not(:hover)
      filter brightness(0) invert(1) drop-shadow-filter
    &:hover
      filter drop-shadow-filter
    &:not(:last-child)
      margin-right 1rem

  .social-icon
    display inline-block
    +media-xs()
      width 40px
      height 40px
    +media-md()
      width 50px
      height 50px
    +media-lg()
      width 60px
      height 60px

.penguin-container
  display flex
  justify-content center
  height 300px
  position relative
  z-index 1

.penguin-asset
  width 80px

.avatar
  width 200px
  height 200px
  border-radius 100%
  border 5px solid white
  filter drop-shadow-filter

.page-down-icon
  position absolute
  bottom 50px
  left 50%
  width 40px
  height 40px
  margin-left -20px
  animation bounce 1s
  animation-direction alternate
  animation-iteration-count infinite
  +media-lg()
    display none

.header-left-side
.header-right-side
  position relative
  z-index 1

.header-left-side
  +media-md-below()
    margin-bottom 40px

.header-right-side
  max-width 600px
  +media-lg()
    padding-left 50px

.header-bg-container
.header-bg-container-overlay
.footer-bg-container
  position absolute
  top 0
  left 0
  z-index 0
  width 100%
  height 100%

.header-bg-container-overlay
  background linear-gradient(
    rgba(0,0,0,0),
    rgba(0,0,0,0.5)
  )

.laurel-leaves-outer
  display flex
  justify-content center
  align-items center
  +media-xs()
    margin-bottom 20px
  +media-md()
    margin-bottom 40px
  +media-lg()
    margin-bottom 60px

.laurel-leaves-inner
  display inline-block
  position relative
  padding 0 80px
  color white
  h2
    margin 0

.laurel-leaves-left
.laurel-leaves-right
  width = 133.6px
  height = 295.5px
  scale = 3.5
  width "calc(%s / %s)" % (width scale)
  height "calc(%s / %s)" % (height scale)
  margin-top "calc(%s / %s/ 2 * -1)" % (height scale)
  position absolute
  top 50%

.laurel-leaves-left
  left 0

.laurel-leaves-right
  right 0
  transform scaleX(-1)

.text-group
  display inline-block
  margin 0 .15em
