<header>

  <h1>Justin Bull</h1>
  <p>This is a showcase of my work and interests.</p>

  <div class="social-icons">
    <a *ngFor="let social of socials" [href]="social.url" title="{{ social.label }}" class="social-link" target="_blank">
      <div [inlineSVG]="social.icon" class="social-icon"></div>
    </a>
  </div>

</header>

<section class="instagram-container">
  <div class="section-heading">
    <h2>I keep losing focus</h2>
  </div>
  <div class="section-body">
    <app-instagram></app-instagram>
  </div>
</section>

<section class="youtube-container">
  <div class="section-heading">
    <h2>Short Clips</h2>
  </div>
  <div class="section-body">
    <app-youtube></app-youtube>
  </div>
</section>

<section class="github-container">
  <div class="section-heading">
    <h2>Commit early, commit often</h2>
  </div>
  <div class="section-body them-dark">
    <app-github></app-github>
  </div>
</section>

<footer>
  <div class="penguin"></div>
  <div id="particlesFooter" class="particles-container"></div>
</footer>
