@import "~assets/styles/functions"
@import "~assets/styles/variables"
@import "~assets/styles/mixins"

header,
footer,
section
  display block
  position relative
  max-width 1920px
  margin auto
  +media-xs()
    padding 20px
  +media-md()
    padding 30px
  +media-lg()
    padding 50px

header
  display block
  padding-top 10%
  padding-bottom 10%
  color white

  h1
    font-size 5em
    font-family 'Spectral SC', serif
    line-height 1
    margin 20px 0
  p
    font-size 2em
    margin 20px 0

.section-heading,
.section-body
  +media-xs()
    margin 20px 0
  +media-md()
    margin 30px 0
  +media-lg()
    margin 50px 0

.section-heading
  h2
    font-size 3.5em
    font-family 'Spectral SC', serif
    line-height 1
    text-align center
    color #666
    margin 0
    margin-bottom 1.5em
  a
    display inline-block
    color inherit
    text-decoration none
    opacity .75
    &:hover
      text-decoration underline
      opacity 1

.instagram-container
  background image-url("hideout.svg") repeat top center
  background-size 50px

.youtube-container
  background-color #333
  .section-heading h2
    color #eee

.github-container
  background-color #eee

.social-icons
  margin 30px 0

  .social-link
    display inline-block
    font-size 0
    color black
    &:not(:hover)
      filter brightness(0) invert(1)
    &:hover
      filter drop-shadow(1px 1px 0 rgba(0, 0, 0, 0.5))
    &:not(:last-child)
      margin-right 1rem

  .social-icon
    display inline-block
    +media-xs()
      width 40px
      height 40px
    +media-md()
      width 50px
      height 50px
    +media-lg()
      width 60px
      height 60px

.penguin
  margin 80px 0
  width 100%
  height 100px
  background image-url("penguin.svg") no-repeat center center
  background-size contain

.header-bg-container,
.header-bg-container-overlay,
.footer-bg-container
  position absolute
  top 0
  left 0
  z-index -1
  width 100%
  height 100%

.header-bg-container-overlay
  background linear-gradient(
    rgba(0,0,0,0.1),
    rgba(0,0,0,0.5)
  )