<header>

  <div class="header-left-side">
      <img class="avatar" src="/assets/images/avatar.jpg"/>
  </div>

  <div class="header-right-side">
    <h1>Justin Bull</h1>
    <p>A showcase of my work and interests.</p>
    <div class="social-icons">
      <a *ngFor="let social of socials" [href]="social.url" title="{{ social.label }}" class="social-link" target="_blank">
        <div [inlineSVG]="social.icon" class="social-icon"></div>
      </a>
    </div>
  </div>

  <div id="headerBgContainer" class="header-bg-container"></div>
  <div class="header-bg-container-overlay">
    <div [inlineSVG]="'/assets/icons/arrow-down.svg'" class="page-down-icon"></div>
  </div>

</header>

<section class="instagram-container">
  <div class="section-heading">
    <h2>
      <span class="heading-lg">If I Could Tell My Story In Words</span>
      <span class="heading-sm">I Wouldn't Need To Lug Around This Camera</span>
    </h2>
  </div>
  <div class="section-body">
    <app-instagram></app-instagram>
  </div>
</section>

<section class="youtube-container">
  <div class="section-heading">
    <h2>
      <div [inlineSVG]="'/assets/icons/laurel-leaves.svg'" class="laurel-leaves-left"></div>
      Haven't Won An Award.. Yet
      <div [inlineSVG]="'/assets/icons/laurel-leaves.svg'" class="laurel-leaves-right"></div>
    </h2>
  </div>
  <div class="section-body">
    <app-youtube></app-youtube>
  </div>
</section>

<section class="github-container">
  <div class="section-heading">
    <h2>Commit early, commit often</h2>
    <p>A collection of the work I'm most proud of.</p>
  </div>
  <div class="section-body them-dark">
    <app-github></app-github>
  </div>
</section>

<footer>
  <div class="penguin"></div>
  <div id="footerBgContainer" class="footer-bg-container"></div>
</footer>
