@import "~assets/styles/functions"
@import "~assets/styles/variables"
@import "~assets/styles/mixins"

@keyframes bounce
  from
    transform translateY(0)
  to
    transform translateY(-20px)

header
footer
section
  display block
  position relative
  max-width 1920px
  margin auto
  +media-xs()
    padding 20px
  +media-md()
    padding 30px
  +media-lg()
    padding 50px

header
  color white
  +media-xs()
    display block
    text-align center
    min-height 100vh
  +media-lg()
    display flex
    flex-direction row
    align-items center
    text-align left
    justify-content center
    min-height 0
    padding-top 10%
    padding-bottom 10%

  h1
    font-family 'Quicksand', sans-serif
    line-height 1
    margin 0
    +media-xs()
      font-size 3em
      margin-bottom 20px
    +media-md()
      font-size 4em
      margin-bottom 30px
    +media-lg()
      font-size 5em
      margin-bottom 40px

  p
    margin 0
    +media-xs()
      font-size 1.25em
      margin-bottom 20px
    +media-md()
      font-size 1.75em
      margin-bottom 30px
    +media-lg()
      font-size 2em
      margin-bottom 40px

.section-heading
.section-body
  +media-xs()
    margin 20px 0
  +media-md()
    margin 30px 0
  +media-lg()
    margin 50px 0

.section-heading
  h2
    font-family 'Quicksand', sans-serif
    line-height 1
    text-align center
    color #666
    margin 0

    +media-xs()
      font-size 2.5em
      margin-bottom 20px
    +media-md()
      font-size 3em
      margin-bottom 40px
    +media-lg()
      font-size 3.5em
      margin-bottom 60px

    span.heading-sm
      display block
      font-size 50%
    span.heading-md
      display block
      font-size 75%
    span.heading-lg
      display block
      font-size 100%
  
  p
    font-family 'Quicksand', sans-serif
    line-height 1
    text-align center
    color #888
    margin 0

    +media-xs()
      font-size 1.25em
      margin-top -10px
      margin-bottom 20px
    +media-md()
      font-size 1.5em
      margin-top -30px
      margin-bottom 40px
    +media-lg()
      font-size 1.75em
      margin-top -50px
      margin-bottom 60px

  a
    display inline-block
    color inherit
    text-decoration none
    opacity .75
    &:hover
      text-decoration underline
      opacity 1

.instagram-container
  background image-url("hideout.svg") repeat top center
  background-size 50px

.youtube-container
  background linear-gradient(#444,#222)
  .section-heading h2
    color #eee
    text-shadow 1px 1px black

.github-container
  background-color #eee

.social-icons
  margin 30px 0

  .social-link
    display inline-block
    font-size 0
    color black
    &:not(:hover)
      filter brightness(0) invert(1)
    &:hover
      filter drop-shadow(1px 1px 0 rgba(0,0,0,0.5))
    &:not(:last-child)
      margin-right 1rem

  .social-icon
    display inline-block
    +media-xs()
      width 40px
      height 40px
    +media-md()
      width 50px
      height 50px
    +media-lg()
      width 60px
      height 60px

.penguin
  margin 80px 0
  width 100%
  height 100px
  background image-url("penguin.svg") no-repeat center center
  background-size contain

.avatar
  border-radius 100%
  width 200px
  height 200px

.page-down-icon
  position absolute
  bottom 50px
  left 50%
  width 40px
  height 40px
  margin-left -20px
  animation bounce 1s
  animation-direction alternate
  animation-iteration-count infinite
  +media-lg()
    display none

.header-left-side
  +media-xs()
    margin-bottom 40px
  +media-lg()
    margin-bottom 0

.header-right-side
  +media-lg()
    padding-left 50px

.header-bg-container
.header-bg-container-overlay
.footer-bg-container
  position absolute
  top 0
  left 0
  z-index -1
  width 100%
  height 100%

.header-bg-container-overlay
  background linear-gradient(
    rgba(0,0,0,0),
    rgba(0,0,0,0.5)
  )

.laurel-leaves-outer
  display flex
  justify-content center
  align-items center
  +media-xs()
    margin-bottom 20px
  +media-md()
    margin-bottom 40px
  +media-lg()
    margin-bottom 60px

.laurel-leaves-inner
  display inline-block
  position relative
  padding 0 80px
  color white

  h2
    margin 0

.laurel-leaves-left
.laurel-leaves-right
  width = 133.6px
  height = 295.5px
  scale = 3.5
  width "calc(%s / %s)" % (width scale)
  height "calc(%s / %s)" % (height scale)
  margin-top "calc(%s / %s/ 2 * -1)" % (height scale)
  position absolute
  top 50%

.laurel-leaves-left
  left 0

.laurel-leaves-right
  right 0
  transform scaleX(-1)

.text-group
  display inline-block