<header>

  <div class="header-left-side">
      <img class="avatar" src="/assets/images/avatar.jpg">
  </div>

  <div class="header-right-side">
    <h1>Justin Bull</h1>
    <p>A senior full-stack web developer with 10+ years of experience.</p>
    <div class="social-icons">
      <a *ngFor="let social of socials" [href]="social.url" title="{{ social.label }}" class="social-link" target="_blank">
        <div [inlineSVG]="social.icon" class="social-icon"></div>
      </a>
    </div>
  </div>

  <div id="headerBgContainer" class="header-bg-container"></div>
  <div class="header-bg-container-overlay">
    <div [inlineSVG]="'/assets/icons/arrow-down.svg'" class="page-down-icon"></div>
  </div>

</header>

<section class="github-container">
  <div class="section-heading">
    <h2>
      <span class="text-group">Commit early,</span>
      <span class="text-group">commit often</span>
    </h2>
    <p>
      <span class="text-group">A collection of the work</span>
      <span class="text-group">I'm most proud of.</span>
    </p>
  </div>
  <div class="section-body">
    <app-github></app-github>
  </div>
</section>

<section class="instagram-container">
  <div class="section-heading">
    <h2>
      <span class="text-group">If I Could Tell</span>
      <span class="text-group">My Story In Words</span>
    </h2>
    <p>
      <span class="text-group">I Wouldn't Need To</span>
      <span class="text-group">Lug Around This Camera</span>
    </p>
  </div>
  <div class="section-body">
    <app-instagram></app-instagram>
  </div>
</section>

<section class="youtube-container">
  <div class="section-heading">
    <div class="laurel-leaves-outer">
      <div class="laurel-leaves-inner">
        <div [inlineSVG]="'/assets/icons/laurel-leaves.svg'" class="laurel-leaves-left"></div>
        <h2>Short Clips</h2>
        <div [inlineSVG]="'/assets/icons/laurel-leaves.svg'" class="laurel-leaves-right"></div>
      </div>
    </div>
  </div>
  <div class="section-body">
    <app-youtube></app-youtube>
  </div>
</section>

<footer>
  <div class="penguin-container">
    <div [inlineSVG]="'/assets/images/penguin.svg'" class="penguin-asset"></div>
  </div>
  <div id="footerBgContainer" class="footer-bg-container"></div>
</footer>
