@import "~assets/styles/functions"
@import "~assets/styles/variables"
@import "~assets/styles/mixins"

header,
footer,
section
  display block
  position relative
  +media-xs()
    padding 20px
  +media-md()
    padding 30px
  +media-lg()
    padding 50px

header
  display block
  padding-top 10vw
  padding-bottom 10vw
  background image-url("abstract-triangles.svg") no-repeat center center
  background-size cover
  color #081D58

  h1
    font-size 55px
    font-family 'Spectral SC', serif
    line-height 1
    margin 20px 0
  p
    font-size 22px
    margin 20px 0

.section-heading,
.section-body
  +media-xs()
    margin 20px 0
  +media-md()
    margin 30px 0
  +media-lg()
    margin 50px 0

.section-heading
  h2
    font-size 40px
    font-family 'Spectral SC', serif
    line-height 1
    color #888888
    margin 0
  a
    display inline-block
    color: inherit
    text-decoration none
    &:hover
      text-decoration underline

.instagram-container
  background image-url("hideout.svg") repeat center center
  background-size: 50px

.github-container
  background: #EEEEEE

.social-icons
  margin 30px 0

  .social-link
    display inline-block
    font-size 0
    color black
    &:not(:hover)
      filter sepia() saturate(100000%) hue-rotate(210deg) brightness(.4)
    &:hover
      filter drop-shadow(1px 1px 0 rgba(0, 0, 0, 0.5))
    &:not(:last-child)
      margin-right 1rem

  .social-icon
    display inline-block
    +media-xs()
      width 40px
      height 40px
    +media-md()
      width 50px
      height 50px
    +media-lg()
      width 60px
      height 60px

.penguin
  margin 80px 0
  width 100%
  height 100px
  background image-url("penguin.svg") no-repeat center center
  background-size contain

.particles-container
  position absolute
  top 0
  left 0
  z-index -1
  width 100%
  height 100%
  canvas
    display block
