<header>

  <h1>Justin Bull</h1>
  <p>Web developer, arduino hobyist, woodworking tourist, bike packer.</p>

  <div class="social-icons">
    <a *ngFor="let social of socials" [href]="social.url" class="social-link" target="_blank">
      <div [inlineSVG]="social.icon" class="social-icon"></div>
    </a>
  </div>

</header>

<section class="instagram-container">
  <div class="section-heading">
    <h2><a href="https://www.instagram.com/bull.justin/" target="blank">Never In The Picture</a></h2>
  </div>
  <div class="section-body">
    <app-instagram></app-instagram>
  </div>
</section>

<section class="github-container">
  <div class="section-heading">
    <h2><a href="https://github.com/jabes" target="blank">In git I trust</a></h2>
  </div>
  <div class="section-body them-dark">
    <app-github></app-github>
  </div>
</section>

<footer>
  <div class="penguin"></div>
  <div id="particlesFooter" class="particles-container"></div>
</footer>
