header

  h1
    font-size 55px
    font-family 'Spectral SC', serif
    color #666
    margin 0
  p
    font-size 22px
    color #888
    margin 0

section

  .section-heading,
  .section-body
    margin 50px 0

  .section-heading
    h2
      font-size 40px
      font-family 'Spectral SC', serif
      color #AAA
      margin 0

.social-icons
  padding 20px 0

  .social-link
    display inline-block
    margin-right 1rem
    font-size 0
    color red
    filter grayscale(100%)
    &:hover
      filter grayscale(0)

  .social-icon
    display inline-block
    width 50px
    height 50px
