.github-repos
  display grid
  grid-template-columns repeat(3, 1fr)
  grid-gap 50px

.repo-link
  display block
  text-decoration none
  h3
    margin 0
    font-size 24px
    color #4078c0
  p
    font-size 18px
    color #767676

.repo-stats

  .repo-stat
    display inline-block
    margin-right 1rem

    .stat-count
      display inline-block
      vertical-align middle
      font-size 20px
      color #c9510c

    .stat-icon
      display inline-block
      vertical-align middle
      width 20px
      height 20px
      color #c9510c
