@import "~assets/styles/functions"
@import "~assets/styles/variables"
@import "~assets/styles/mixins"

.github-repos
  +media-xs()
    display grid
    grid-template-columns repeat(1, 1fr)
    grid-gap 20px
  +media-md()
    display grid
    grid-template-columns repeat(2, 1fr)
    grid-gap 30px
  +media-lg()
    display grid
    grid-template-columns repeat(3, 1fr)
    grid-gap 50px

.repo-link
  display block
  text-decoration none
  h3
    font-size 1.8em
    color #4078c0
    margin 10px 0
  p
    font-size 1.4em
    color #767676
    margin 10px 0

.repo-stats
  margin 10px 0

  .repo-stat
    display inline-block
    &:not(:last-child)
      margin-right .75em

    .stat-count
      display inline-block
      vertical-align middle
      font-size 1.25em
      color #c9510c

    .stat-icon
      display inline-block
      vertical-align middle
      width 1.25em
      height 1.25em
      color #c9510c
