@import "~assets/styles/functions"
@import "~assets/styles/variables"
@import "~assets/styles/mixins"

.instagram-posts
  +media-xs()
    display grid
    grid-template-columns repeat(1, 1fr)
    grid-gap 4vw
  +media-md()
    display grid
    grid-template-columns repeat(2, 1fr)
    grid-gap 4vw
  +media-lg()
    display grid
    grid-template-columns repeat(3, 1fr)
    grid-gap 4vw

.instagram-post
  position relative

  .post-link
    display block
    width 100%
    height 100%

  &:hover .post-media
    img, video
      filter blur(10px)

  .post-media
    width 100%
    height 100%
    overflow hidden
    img, video
      display block
      width 100%
      height 100%
      margin 0
      padding 0
      object-fit cover

  &:hover .post-overlay
    display flex
    flex-direction column

  .post-overlay
    display none
    position absolute
    top 0
    left 0
    width 100%
    height 100%
    margin 0
    background rgba(0, 0, 0, 0.8)
    user-select none
    pointer-events none
    +media-xs()
      padding 8vw
    +media-md()
      padding 4vw
    +media-lg()
      padding 3vw

  .post-caption
    flex 1
    text-align center
    color white
    +media-xs()
      font-size 4.5vw
      margin 5vw 0
    +media-md()
      font-size 2.5vw
      margin 3vw 0
    +media-lg()
      font-size 1.5vw
      margin 2vw 0

  .post-stats
    flex 0
    text-align center
    color white
    +media-xs()
      margin 5vw 0
    +media-md()
      margin 3vw 0
    +media-lg()
      margin 2vw 0

    .post-stat
      display inline-block
      +media-xs()
        margin 0 3vw
      +media-md()
        margin 0 2vw
      +media-lg()
        margin 0 1vw

      .stat-count
        display inline-block
        vertical-align middle
        +media-xs()
          font-size 6vw
        +media-md()
          font-size 3vw
        +media-lg()
          font-size 2vw

      .stat-icon
        display inline-block
        vertical-align middle
        +media-xs()
          width 6vw
          height 6vw
        +media-md()
          width 3vw
          height 3vw
        +media-lg()
          width 2vw
          height 2vw
