@import "~assets/styles/functions"
@import "~assets/styles/variables"
@import "~assets/styles/mixins"

.instagram-posts
  display grid
  grid-gap 1em
  +media-xs()
    grid-template-columns repeat(1, 1fr)
  +media-md()
    grid-template-columns repeat(2, 1fr)
  +media-lg()
    grid-template-columns repeat(3, 1fr)
  +media-xl()
    grid-template-columns repeat(4, 1fr)

.instagram-post
  position relative

  .post-link
    display block
    width 100%
    height 100%

  &:hover .post-media
    img, video
      filter blur(10px)

  .post-media
    width 100%
    height 100%
    overflow hidden

    img, video
      display block
      width 100%
      height 100%
      margin 0
      padding 0
      object-fit cover

  .media-type-carousel
    position relative
    height 100%

    .featured-image
      width 60%
      height 100%

    .sidebar-images
      width 40%
      height 100%
      position absolute
      top 0
      right 0
      bottom 0
      left auto
      display flex
      flex-direction column

      .image
        position relative
        flex auto
        height (100% / 3)

    .view-all-text
      width 100%
      height 100%
      position absolute
      top 0
      right 0
      bottom 0
      left 0
      display flex
      align-items center
      justify-content center
      background-color rgba(0, 0, 0, .75)
      color white
      font-size 1.25em

  &:hover .post-overlay
    display flex
    flex-direction column

  .post-overlay
    display none
    overflow hidden
    position absolute
    top 0
    left 0
    width 100%
    height 100%
    margin 0
    background rgba(0, 0, 0, 0.8)
    user-select none
    pointer-events none
    padding 6%

  .post-caption
    flex 1
    font-size 1em
    text-align center
    color white

  .post-stats
    flex 0
    text-align center
    color white

    .post-stat
      display inline-block
      margin 0 .5em

      .stat-count
        display inline-block
        vertical-align middle
        font-size 1em
        margin 0 .1em

      .stat-icon
        display inline-block
        vertical-align middle
        width 1em
        height 1em

.view-more-btn
  display flex
  align-items center
  justify-content center
  padding 6em 0 3em 0

  a
    font-family 'Spectral SC', serif
    display inline-block
    padding .4em .8em
    margin auto
    font-size 2.2em
    text-decoration none
    background-color white
    color grey
    border 2px solid grey
    border-radius .4em

    &:hover
      border-color #00688B
      background-color #00BEFE
      color #00688B
