<div class="youtube-videos">
  <div *ngFor="let video of videos" class="youtube-video">
    <button (click)="setActiveVideo(video)" class="video-play-button">
      <img alt="{{ video.snippet.title }}"
           src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
           [attr.data-src]="video.snippet.thumbnails.maxres.url"
           class="video-thumbnail">
      <span [inlineSVG]="'/assets/icons/play.svg'" class="play-icon"></span>
    </button>
    <h3 class="video-title">{{ video.snippet.title }}</h3>
    <p class="video-description">{{ video.snippet.description }}</p>
    <div class="video-stats">
      <div [inlineSVG]="'/assets/icons/eye.svg'" class="eye-icon"></div>
      <span class="stat-views">{{ video.statistics.viewCount }}</span>
    </div>
  </div>
</div>

<div *ngIf="activeVideo != undefined" (click)="clearActiveVideo()" class="youtube-overlay">
  <div class="overlay-body" [innerHTML]="activeVideo.player.embedHtml | safeHtml"></div>
  <button (click)="clearActiveVideo()" class="close-overlay-button">
    <span [inlineSVG]="'/assets/icons/close.svg'" class="close-icon"></span>
  </button>
</div>

<div class="button-container">
  <a href="https://www.youtube.com/user/Jabess88/videos" class="button theme-light">
    <span>SEE MORE VIDEOS</span>
  </a>
</div>
