@import "~assets/styles/functions"
@import "~assets/styles/variables"
@import "~assets/styles/mixins"

@keyframes spin
  100%
    transform rotate(360deg)

@keyframes fadeIn
  100%
    opacity 1

.youtube-overlay
  z-index 999
  position fixed
  top 0
  left 0
  width 100%
  height 100%
  background-color rgba(black, .9)

  .close-overlay-button
    display block
    cursor pointer
    margin 0
    padding 0
    border none
    background none
    position absolute
    top 2em
    right 2em

    .close-icon
      width 3em
      height 3em
      color white

    &:hover .close-icon
      color red

  .overlay-body
    position absolute
    top 50%
    left 50%
    transform translate(-50%, -50%)
    background black
    width 100vw
    max-width 1440px
    aspect-ratio(16, 9)

    .video-frame
      position absolute
      top 0
      left 0
      width 100%
      height 100%
      background none
      border none

.youtube-videos
  display flex
  justify-content center
  flex-wrap wrap

.youtube-video
  overflow hidden
  position relative
  max-width 800px
  margin .5em
  border 5px solid rgba(white, .6)
  aspect-ratio(16, 9)

  +media-xs()
    flex 0 0 calc(100% / 1 - 1em)
  +media-lg()
    flex 0 0 calc(100% / 2 - 1em)

  &,
  & *
    transition all 200ms

  &:hover
    border-color white
    .play-icon
      opacity 0
    .video-thumbnail
      opacity 1
      filter grayscale(0)

  .play-icon
    color white
    position absolute
    top 50%
    left 50%
    width 5em
    height 5em
    transform translate(-50%, -50%)
    filter drop-shadow(0 1px 0 rgba(black, .75));

  .video-thumbnail
    position absolute
    top 0
    left 0
    display block
    width 100%
    height 100%
    object-fit cover
    margin 0
    padding 0
    opacity .5
    filter grayscale(100%)

  .video-play-button
    display block
    width 100%
    height 100%
    margin 0
    padding 0
    border none
    background black
    cursor pointer
    opacity 0
    animation fadeIn 250ms linear forwards

  .loading-icon
    z-index 10
    display block
    width 5em
    height 5em
    position absolute
    top 50%
    left 50%
    margin-top -2.5em
    margin-left -2.5em
    animation spin 1s linear infinite
    color #888
