@import "~assets/styles/functions"
@import "~assets/styles/variables"
@import "~assets/styles/mixins"

@keyframes spin
  100%
    transform rotate(360deg)

@keyframes fadeIn
  100%
    opacity 1

.youtube-overlay
  z-index 999
  position fixed
  top 0
  left 0
  width 100%
  height 100%
  background-color rgba(black, .9)

  .close-overlay-button
    display block
    cursor pointer
    margin 0
    padding 0
    border none
    background none
    position absolute
    top 2em
    right 2em

    .close-icon
      width 3em
      height 3em
      color white

    &:hover .close-icon
      color red

  .overlay-body
    position absolute
    top 50%
    left 50%
    transform translate(-50%, -50%)
    background black
    width 100vw
    max-width 1440px
    aspect-ratio(16, 9)

    iframe
      position absolute
      top 0
      left 0
      width 100%
      height 100%
      background none
      border none

.youtube-videos
  display flex
  justify-content center
  flex-wrap wrap

.youtube-video
  overflow hidden
  position relative
  max-width 600px
  margin 1.5em .5em
  opacity 0
  animation fadeIn 250ms linear forwards

  &:nth-child(1)
    animation-delay calc(100ms * 1)
  &:nth-child(2)
    animation-delay calc(100ms * 2)
  &:nth-child(3)
    animation-delay calc(100ms * 3)
  &:nth-child(4)
    animation-delay calc(100ms * 4)

  +media-xs()
    flex 0 0 calc(100% / 1 - 1em)
  +media-lg()
    flex 0 0 calc(100% / 2 - 1em)

  .play-icon
    color white
    position absolute
    top 50%
    left 50%
    width 5em
    height 5em
    transform translate(-50%, -50%)
    filter drop-shadow(0 1px 0 rgba(black, .75))
    opacity 0

  .video-thumbnail
    display block
    width 100%
    object-fit cover
    margin 0
    padding 0
    aspect-ratio(16, 9)
    transition opacity 250ms

  .video-play-button
    position relative
    display block
    margin 0
    margin-bottom 20px
    padding 0
    border none
    background black
    cursor pointer

    &:hover
      .play-icon
        animation fadeIn 250ms linear forwards
        animation-delay 150ms
      .video-thumbnail
        filter grayscale(100%)
        opacity 0.4

  .video-title
  .video-description
  .video-stats
    margin .5em 0

  .video-title
    color #BBB
    font-size 1.5em
    text-transform uppercase

  .video-description
    color #888
    overflow hidden
    display -webkit-box
    -webkit-line-clamp 3
    -webkit-box-orient vertical

  .video-stats
    color #BBB
    .eye-icon
      width 25px
      display inline-block
      vertical-align middle
      margin-right 5px
    .stat-views
      font-size 1.25em
      vertical-align middle