html, body
  margin 0
  padding 0
  width 100%
  height 100%

html
  box-sizing border-box
  font-family 'Roboto', sans-serif

*,
*::before,
*::after
  box-sizing inherit

[ng-reflect-inline-s-v-g] svg
  display block
  width 100%
  height 100%
  fill currentColor
