@import "~assets/styles/functions"
@import "~assets/styles/variables"
@import "~assets/styles/mixins"

@keyframes fadeIn
  100%
    opacity 1

.github-repos
  display flex
  justify-content center
  flex-wrap wrap

.github-repo
  opacity 0
  animation fadeIn 250ms linear forwards

  &:nth-child(1)
    animation-delay calc(100ms * 1)
  &:nth-child(2)
    animation-delay calc(100ms * 2)
  &:nth-child(3)
    animation-delay calc(100ms * 3)
  &:nth-child(4)
    animation-delay calc(100ms * 4)

  +media-xs()
    flex 0 0 calc(100% / 1 - 1em)
    border-bottom 1px solid #CCC
    padding-bottom 20px
    &:not(:last-child)
      margin-bottom 30px

  +media-md()
    flex 0 0 calc(100% / 2 - 1em)
    border none
    margin .5em
    padding 0

  img
    display block
    width 100%

  h3
    font-size 1.8em
    color #444
    margin 10px 0

  p
    font-size 1.4em
    color #666
    margin 10px 0

.repo-link
  display block
  margin-bottom 10px
  border 3px solid transparent

  &:hover
    border-color #52a0ad

.repo-stats
  margin 10px 0

  .repo-stat
    display inline-block
    &:not(:last-child)
      margin-right .75em

    .stat-count
      display inline-block
      vertical-align middle
      font-size 1em
      color #52a0ad

    .stat-icon
      display inline-block
      vertical-align middle
      width 1em
      height 1em
      color #52a0ad
