<div *ngIf="isLoaded">

  <div class="github-repos">
    <div *ngFor="let githubObject of githubObjects" class="github-repo">

      <a [href]="githubObject.repo.homepage || githubObject.repo.html_url" class="repo-link">
        <img alt="{{ githubObject.readme.heading }}"
             src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
             [attr.data-src]="githubObject.readme.screenshot">
      </a>

      <h3>{{ githubObject.readme.heading }}</h3>
      <div [innerHTML]="githubObject.readme.introduction | safeHtml"></div>

      <div class="repo-stats">
        <div class="repo-stat" *ngIf="githubObject.repo.language">
          <div [inlineSVG]="'/assets/icons/book.svg'" class="stat-icon"></div>
          <span class="stat-count">{{ githubObject.repo.language }}</span>
        </div>
        <div class="repo-stat" *ngIf="githubObject.repo.stargazers_count > 0">
          <div [inlineSVG]="'/assets/icons/star.svg'" class="stat-icon"></div>
          <span class="stat-count">{{ githubObject.repo.stargazers_count }}</span>
        </div>
      </div>

    </div>
  </div>

  <div class="button-container">
    <a href="https://github.com/jabes" class="button theme-github">
      <span>SEE MY GITHUB</span>
    </a>
  </div>

</div>

<div *ngIf="isError">
  <div class="error-container theme-red-text">
    <div [inlineSVG]="'/assets/icons/http-error.svg'" class="http-error-icon"></div>
    <h2>Oops! Something has gone wrong.</h2>
    <p>{{ errorObject.error.message }}</p>
  </div>
</div>

<div *ngIf="!isLoaded && !isError">
  <div class="loading-container">
    <div [inlineSVG]="'/assets/icons/loading.svg'" class="loading-icon theme-github"></div>
  </div>
</div>

<div class="bg-scroll-container">
  <div class="bg-scroll-el"></div>
</div>
